{% extends "::base.html.twig" %}
{% block title %}
    Lecture d'un utilisateur - {{ parent() }}
{% endblock %}
{% block body %}
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <h1>{{ user.username }}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">{{ user.roles.0 }}</span>
    </div>
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading">
                        <div class="user_heading_avatar">
                            <div class="thumbnail">
                                <img src="{{ asset('bundles/awapartners/assets/img/avatars/user@2x.png') }}"
                                     alt="profile"/>
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">
                                    {{ user.username }}
                                </span>

                            </h2>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab"
                            data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}">
                            <li class="uk-active"><a href="#">A propos</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">Infos de l'utilisateur</h4>
                                        <ul class="md-list md-list-addon">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE32A;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="uk-text-small uk-text-muted">Rôle</span>
                                                    <span class="md-list-heading">{{ user.roles.0 }}</span>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE87C;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="uk-text-small uk-text-muted">Pseudo</span>
                                                    <span class="md-list-heading">{{ user.username }}</span>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="uk-text-small uk-text-muted">Email de connexion</span>
                                                    <span class="md-list-heading">{{ user.email }}</span>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE572;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="uk-text-small uk-text-muted">Dernière connexion</span>
                                                    <span class="md-list-heading">{{ user.lastLogin|date('d/m/Y') }}</span>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE925;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="uk-text-small uk-text-muted">Etat</span>
                                                    <span class="md-list-heading">
                                                        {% if user.enabled %}
                                                            Actif
                                                        {% else %}
                                                            Désactivé
                                                        {% endif %}
                                                    </span>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper md-fab-speed-dial">
        <a class="md-fab md-fab-primary" href="javascript:void(0)" data-uk-tooltip="{pos:'right'}" title="Actions">
            <i class="material-icons">&#xE55D;</i>
        </a>
        <div class="md-fab-wrapper-small">

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)"
                   data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Supprimer"
                   onclick="UIkit.modal.confirm('Voulez vous vraiment supprimer cet utilisateur ?',
                   function(){ deleteUser();});">
                    <i class="material-icons">&#xE92B;</i>
                </a>
            {% endif %}
            {% if app.user != user %}
                {% if user.enabled %}
                    <a class="md-fab md-fab-small" href="javascript:void(0)"
                       data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Désactiver"
                       onclick="UIkit.modal.confirm('Voulez vous vraiment désactiver cet utilisateur ?',function(){ disableUser();});">
                        <i class="material-icons">&#xE897;</i>
                    </a>
                {% else %}
                    <a class="md-fab md-fab-small" href="javascript:void(0)"
                       data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Activer"
                       onclick="UIkit.modal.confirm('Voulez vous vraiment activer cet utilisateur ?',function(){ enableUser();});">
                        <i class="material-icons">&#xE898;</i>
                    </a>
                {% endif %}
            {% endif %}
            {% if app.user == user %}
                <a class="md-fab md-fab-small md-fab-success" href="{{ path('fos_user_profile_edit') }}"
                   data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Modifier"><i class="material-icons">
                        &#xE3C9;</i></a>
            {% else %}
                <a class="md-fab md-fab-small md-fab-success" href="{{ path('user_edit', {'id': user.id}) }}"
                   data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Modifier"><i class="material-icons">
                        &#xE3C9;</i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        function deleteUser() {
            var url = '{{ path('user_delete', {'id': 'iD'}) }}';
            url = url.replace('iD', {{ user.id }});
            $.ajax({
                url: url,
                type: 'delete',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('L\'utilisateur a été supprimé avec succès.'
                        ).on('hide.uk.modal', function () {
                            history.back();
                        });
                    }
                    else {
                        UIkit.modal.alert('Vous n\'avez pas le droit de supprimer cet utilisateur pour des raisons de sécurité');
                    }
                },
                error: function (exception) {
                    console.log(exception.responseText);
                    UIkit.modal.alert('Vous n\'avez pas le droit de supprimer cet utilisateur pour des raisons de sécurité');
                }
            });
        }
        function disableUser() {
            var url = '{{ path('user_enable_or_disable', {'id': 'iD'}) }}';
            url = url.replace('iD', {{ user.id }});
            $.ajax({
                url: url,
                type: 'delete',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('L\'utilisateur a été désactivé avec succès.'
                        ).on('hide.uk.modal', function () {
                            location.reload();
                        });
                    }
                },
                error: function (exception) {
                    console.log(exception.responseText);
                    UIkit.modal.alert('Vous n\'avez pas le droit de désactiver cet utilisateur pour des raisons de sécurité');
                }
            });
        }
        function enableUser() {
            var url = '{{ path('user_enable_or_disable', {'id': 'iD'}) }}';
            url = url.replace('iD', {{ user.id }});
            $.ajax({
                url: url,
                type: 'delete',
                success: function (json) {
                    if (json.success) {
                        UIkit.modal.alert('L\'utilisateur a été activé avec succès.'
                        ).on('hide.uk.modal', function () {
                            location.reload();
                        });
                    }
                },
                error: function (exception) {
                    console.log(exception.responseText);
                    UIkit.modal.alert('Vous n\'avez pas le droit d\'activer cet utilisateur pour des raisons de sécurité');
                }
            });
        }
    </script>
{% endblock %}